<!DOCTYPE html>
<html oncontextmenu="return false" onselectstart="return false">
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body{
        margin: none;
      }
      table{
        border-collapse: collapse;
      }
      th{
        background-color: floralwhite;
        padding: 20px;
        padding-right: 40px;
        padding-left: 40px;
      }
      td{
        padding: 10px;
      }
      th, td{
        text-align: center;
      }
      .logout{
        float: right;
        font-weight: bold;  
        font-size: 20px;
        text-decoration: none;
        color: thistle;
        text-shadow: 0px 1px #ffffff, 1px 1px 0px #dad7d7;
      }
      h1{
        font-family: HY동녘M;
        font-size: 42px;
        color: grey;
        text-shadow: 0px 1px #ffffff, 3px 3px 0px #dad7d7;
        text-align: center;
      }
      .delete{
        font-size: 17px;
        text-decoration: none;
        color: black;
        text-shadow: 0px 1px #ffffff, 1px 1px 0px #dad7d7;
      }
      a{
        font-weight: bold;  
        font-size: 27px;
        text-decoration: none;
        color: thistle;
        padding: 20px;
        text-shadow: 0px 1px #ffffff, 1px 1px 0px #dad7d7;
      }
    </style> 
  </head>
  <body>
  <a href="/logout" class="logout">로그아웃</a>
  <center>
    <table border="1">
        <tr>
          <h1>게시판</h1>
          <th>번호</th>
          <th>이름(아이디)</th>
          <th>제목</th>
          <th>내용</th>
        </tr>
        <% for (const result of results) { %>
        <tr>
          <td><%= result.id %></td>
          <td><%= result.name %>(<%= result.email %>)</td>
          <td><%= result.title %></td>
          <td><%= result.contents %></td>
        </tr>
      <% } %>
    </table>
    <br>
    <p><a href="/board/write">글 쓰기</a></p>
    <p><a href="/board/see">내 글 보기</a></p>
  </center>
  </body>
</html>
