<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body{
        margin: none;
      }
      table{
        border-collapse: collapse;
      }
      th{
        background-color: floralwhite;
        padding: 20px;
        padding-right: 40px;
        padding-left: 40px;
      }
      td{
        padding: 10px;
      }
      th, td{
        text-align: center;
      }
      .logout{
        float: right;
        font-weight: bold;  
        font-size: 20px;
        text-decoration: none;
        color: thistle;
        text-shadow: 0px 1px #ffffff, 1px 1px 0px #dad7d7;
      }
      h1{
        font-family: HY동녘M;
        font-size: 42px;
        color: grey;
        text-shadow: 0px 1px #ffffff, 3px 3px 0px #dad7d7;
        text-align: center;
      }
      .delete{
        font-size: 17px;
        text-decoration: none;
        color: black;
        text-shadow: 0px 1px #ffffff, 1px 1px 0px #dad7d7;
      }
    </style> 
  </head>
  <body>
  <a href="/logout" class="logout">로그아웃</a>
  <center>
    <table border="1">
        <tr>
          <h1>회원리스트</h1>
          <th>고유번호</th>
          <th>이름</th>
          <th>나이</th>
          <th>생일</th>
          <th>성별</th>
          <th>취미</th>
          <th>전화번호</th>
          <th>이메일</th>
          <th>회원탈퇴</th>
        </tr>
        <% for (const result of results) { %>
        <tr>
          <td><%= result.id %></td>
          <td><%= result.name %></td>
          <td><%= result.age %></td>
          <td><%= result.gender %></td>
          <td><%= result.birth %></td>
          <td><%= result.hobby %></td>
          <td><%= result.phone %></td>
          <td><%= result.email %></td>
          <td><a href="/index?id=<%= result.id %>" class="delete">탈퇴</a></td>
        </tr>
      <% } %>
    </table>
    <form action="/board/noticeboard">
      <button>게시판</button>
    </form>
  </center>
  </body>
</html>
